body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}
h1 {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  background-color: lightblue;
  font-weight: lighter;
  padding: 50px 25px;
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;

}

h1, td, tr {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
p {
  display: block;
  font-size: 10px;
  margin-left: 0.25em;

}
table {
  table-layout: fixed;
}

table, th, td {
  width: 100%;
  border: 0.5px solid #000;
  border-collapse: collapse;
}

th, td {
 //from text to the border spacing
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
td{
  vertical-align: top;
}
th{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

tr:first-child(even){
  background-color: #fff;

}
tr:nth-child(odd){
  background-color: #ddd;

}
.dayofweek {
  font-size:20px;
}
.event-card {
  border-radius: 5px;
  border-width: 10px;
  margin: 0.5em 0 0.5em 0;
  border: 2pt solid;
  padding-left: 0em;
  padding-right: 0em;
}
.summary {
  margin: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size:12px;
}
.datespan {
  text-align: right;
  padding-top: 0.2em;
  margin-top: 5px;

}
.freshman > .summary {
  background-color: #dfdaf1;
}

.freshman {
  border-color: #dfdaf1;
}
.sophomore > .summary {
  background-color: #4DA1FD;
}
.sophomore {
  border-color:#4DA1FD;
}
.junior > .summary {
  background-color: #78d4a5;
}
.junior {
  border-color:#78d4a5;
}
.description{
  font-size: 10px;
  padding-left: 0.25em;
}
